@font-face {
  font-family: 'Modum';
  src: url('fonts/Modum.woff2') format('woff2'),
       url('fonts/Modum.woff') format('woff'),
       url('fonts/Modum.ttf') format('truetype'),
       url('fonts/Modum.svg#Modum') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html { 
  height: 100vh;
  overflow-x: hidden; 
  font-family: 'Modum'; 
  font-weight: normal;
  font-style: normal;
  font-size: 1.6em;
  color: white;
  background-color: black;
}

a, a#back { 
  text-decoration: none; 
  color: inherit;
}
a:hover { color: lightblue; }

form * { margin: 5px 0; }

div.project-images {
  overflow: auto;
  white-space: nowrap;
  margin-top: 20px;
}
div.project-images img {
  height: 250px;
  object-fit: cover;
  padding: 3px;
}
div.project-section h2 { margin-bottom: 0; }
div.project-section p { margin: 0; }

p.project-description { padding-left: 20px; }

@keyframes color-change {
  0% { color: gray; }
  50% { 
    color: white; 
    text-shadow: 2px 2px rgba(255, 255, 255, 0.3);
  }
  100% { color: black; }
}
