{% extends "root.html" %}
{% block title %}administrative Zone{% endblock %}
{% block body %}

<style>
div.project-still {
    position: relative;
    display: inline-flex;
}
div.project-still > img,video {
    width: 400px;
    height: 300px;
    object-fit: contain;
}
div.project-still > div {
    display: none;
    position: absolute;
    width: 400px;
    height: 300px;
    border: 1px solid white;
}
div.project-still > div > p {
    color: white;
    background-color: black;
    font-family: monospace;
    width: fit-content;
    margin: 10px;
}
div.project-still:hover div {
    display: block;
}

td:has(label) { text-align: end; }

</style>

<p><a href=/ >&larr; back</a></p>
<h1>PROJECT EDITOR</h1>
<form method=post enctype=multipart/form-data>
  <input type='hidden' id='p_id' name='p_id' value='{% if editing %}{{ editing["p_id"] }}{% endif %}'>

  <div style='display: grid; grid-template-columns: 300px 1fr;'>

    <div style='grid-column: 1'>
      <h2>PROJECTS</h2>
      <ul>
        {% for project in projects %}
          {% set sel = editing and ( project["_id"] == editing["_id"] ) %}
          <li>{% if sel %}<u>{% endif %}
            <a href='/project/edit/{{ project["_id"] }}'>{{ project["title"] }}</a>
            {% if sel %}</u>{% endif %}
          </li>
        {% endfor %}
        <li><a href='/project/edit/new'>Create New</a></li>
      </ul>
    </div>


    <div style='grid-column: 2'>
      <table style='width: 100%;'>
        <tr>
          <th style='width: 300px;'>
          {% if editing %}
          <h2>EDIT "{{ editing.title.upper() }}"</h2>
          {% else %}
          <h2>NEW PROJECT</h2>
          {% endif %}
          </th><th></th>
        </tr>
        <tr>
          <td><label for='title'>title &rarr;</label></td>
          <td><input required id='title' name='title' 
            value='{% if editing %}{{ editing["title"] }}{% endif %}'></td>
        </tr>
        <tr>
          <td><label for='ptype'>type &rarr;</label></td>
          <td><input id='ptype' name='ptype'
            value='{% if editing %}{{ editing["ptype"] }}{% endif %}'></td>
        </tr>
        <tr>
          <td><label for='description'>description &rarr;</label></td>
          <td><textarea id='description' name='description' 
            autocomplete='off'>{% if editing %}{{ editing["description"] }}{% endif %}</textarea></td>
        </tr>
        <tr>
          <td><label for='details'>details &rarr;</label></td>
          <td><textarea id='details' name='details' 
            autocomplete='off'>{% if editing %}{{ editing["details"] }}{% endif %}</textarea></td>
        </tr>
        <tr>
          <td><label for='video'>video &rarr;</label></td>
          <td><input type=file name=video /></td>
        </tr>
        <tr>
          <td><label for='stills'>stills &rarr;</label></td>
          <td><input type=file name=stills multiple=multiple /></td>
        </tr>
        <tr>
          <td></td>
          <td><button type='submit' formaction='/project/save'>save</button>
              <button type='submit' formaction='/project/delete'>delete</button></td>
        </tr>
      </table>
    </div>

    {% if editing %}{% set dir='projects/'+editing["title"]+'/' %}
    <div style='grid-column: 1; grid-column-end: 3; grid-row: 2'>

      {% if editing["video"] %}
      <h2>VIDEO</h2>
      <p>{{ editing["video"] }} <a href='/project/delete-file/{{ editing["_id"] }}/{{ editing["video"] }}'> ❌</a></p>
      <div class='project-still'>
        <video type='video/mp4'>
          <source src='{{ url_for( "static", filename=dir+editing["video"]) }}'>
        </video>
      </div>
      {% endif %}

      {% if editing["stills"] %}
        <h2>STILLS</h2>
        {% for filename in editing["stills"] %}
        <div class='project-still'>
          <img src='{{ url_for( "static", filename=dir+filename ) }}'/>
          <div><p>{{ filename }}<a href='/project/delete-file/{{ editing["_id"] }}/{{ filename }}'> ❌</a></p></div>
        </div>
        {% endfor %}
      {% endif %}
    </div>
    {% endif %}
  </form>
</div>

{% endblock %}
