{% extends "root.html" %}
{% block title %}kaylee{% endblock %}
{% block body %}

<style>
div.project-section {
}
</style>

<h1>Kaylee Rademacher</h1>

{% if projects %}
<div>
  {% for project in projects %} 
    <div class='project-section'>
      <h2>{{ project.title }}</h2>
      <p>{{ project.description }}</p>
      {% for media in project.media %}
        {% set src = url_for( "static", filename="projects/"+project.title+"/"+media.filename ) %}
          {% if media.filename.endswith("mov") %}
          <video width=140 src='{{ src }}'></video>
          {% else %}
          <img width=140 src='{{ src }}'/>
          {% endif %}
      {% endfor %}
    </div><!--project-section-->
  {% endfor %} 
</div>
{% endif %}

{% endblock %}
